.container {
    box-sizing: border-box;
    padding: 0;
    max-width: $container-width;
    margin: auto;
}

@media screen and (max-width: $breakpoint-mobile - 1px) {
    .hidden-s {
        display: none;
    }
}

@media screen and (min-width: $breakpoint-mobile) {
    .visible-s {
        display: none;
    }
}