.quote-grid {
    display: grid;
    grid-auto-rows: minmax(40px, auto);
    grid-template-columns: 16px [content-start] 1fr [content-end] 16px;
    justify-content: end;
    margin-bottom: 40px;
    margin-top: 80px;
    @include respond-to($breakpoint-mobile) {
        grid-auto-rows: minmax(80px, auto);
        grid-template-columns: repeat(14, 1fr);
    }
}


.quote-text {
  align-self: end;
  font: $font-mobile-quote;
  grid-column: content;

  @include respond-to($breakpoint-mobile) {
    font: $font-desktop-quote;
    grid-column: 2 / span 10;
  }
}

.buonGiorno {
  background-image: url("../../../assets/buonGiorno.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 2 / -1;
  grid-column: content;
  height: 100%;
  justify-self: end;
  width: 40%;

  @include respond-to($breakpoint-mobile) {
    grid-column: 10 / span 2;
    width: 100%;
  }
}

.quoteSignature {
  background-image: url("../../../assets/quoteSignature.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: content;
  height: 100%;
  width: 80%;
  justify-self: end;
  @include respond-to($breakpoint-mobile) {
    grid-column: 7 / span 4;
    justify-self: start;
    align-self: start;
    height: 100%;
    width: 100%;
  }
}
