<div class="container">

    @@include('./components/landing.html', {
        "firstLine" : "short italian",
        "secondLine" : "cooking lessons"
    })

    @@include('./components/main/quote.html', {
        "quote" : "“One of our cooking school’s main objectives is to promote real Italian food.”"
    })

    @@include('./components/main/main.html', {
        "paragraph1" : "We believe that great food is a result of a constant learning, experimenting and hard work. We also believe, that anyone who works hard can cook great . We are here to help you to discover all secrets of Italian cuisine.",

        "paragraph2" : "We strongly emphasise the value of real Italian Cuisine and the excellent food products that distinguish, it is one of our cooking school’s main objectives in order to promote real Italian food."
    })

    @@include('./components/footer/onion.html')

</div>



