<div class="mainText-grid">
    <div class="doubleSpaghetti"></div>
    <div class="mainText">
        <p class="mainText__paragraph1">
            Lorem, ipsum dolor saaaaait amet consectetur adipisicing elit. Quae cupiditate exercitationem voluptas voluptatem dolorem, unde nesciunt laudantium, omnis deserunt non fugiat quo et? Quis architecto iusto, velit voluptates sint doloremque?
            lorem40
        </p>
        <p class="mainText__paragraph2">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae cupiditate exercitationem voluptas voluptatem dolorem, unde nesciunt laudantium, omnis deserunt non fugiat quo et? Quis architecto iusto, velit voluptates sint doloremque?
        </p>
    </div>
    <div class="dinnerTable"></div>
</div>
