<div class="main--grid">

    <div class="image__left--container">
        <img class="image__left" src="@@webRoot/assets/doubleSpaghetti.jpg" alt="double sphaghetti">
    </div>

    <div class="main">
        <p class="main__paragraph1">
            @@paragraph1
        </p>
        <p class="main__paragraph2">
            @@paragraph2
        </p>
    </div>

    <div class="image__right--container">
        <img class="image__right" src="@@webRoot/assets/dinnerTable.jpg" alt="dinner Table">
    </div>

</div>
