<div class="mainText-grid">
    <div class="doubleSpaghetti"></div>
    <div class="mainText">
        <p class="mainText__paragraph1">
            We believe that great food is a result of a constant learning, 
            experimenting and hard work. We also believe, that anyone who works hard can cook great . We are here to help you to discover all secrets of Italian cuisine.
        </p>
        <p class="mainText__paragraph2">
            We strongly emphasise the value of real Italian Cuisine and the excellent food products that distinguish, it is one of our cooking school’s main objectives in order to promote real Italian food.
        </p>
    </div>
    <div class="dinnerTable"></div>
</div>
