// Tablet, Desktop
$font-desktop-body: normal 14px 'Playfair Display', sans-serif;
$font-desktop-button: normal 14px 'Playfair Display', sans-serif;
$font-desktop-h1: bold 65px 'Playfair Display', sans-serif;
$font-desktop-h2: bold 30px 'Playfair Display', sans-serif;
$font-desktop-h4: bold 14px 'Playfair Display', sans-serif;
$font-desktop-quote: normal 50px 'Playfair Display', sans-serif;
$font-desktop-subtitle: normal 14px 'Playfair Display', sans-serif;


// Mobile
$font-mobile-body: normal 14px 'Montserrat', sans-serif;
$font-mobile-button: normal 14px 'Montserrat', sans-serif;
$font-mobile-h1: bold 30px 'Montserrat', sans-serif;
$font-mobile-h2: bold 30px 'Montserrat', sans-serif;
$font-mobile-h4: bold 14px 'Montserrat', sans-serif;
$font-mobile-quote: normal 24px 'Montserrat', sans-serif;
$font-mobile-subtitle: normal 14px 'Montserrat', sans-serif;

// Discrepancies in the project

$font-quote: normal 24px 'Playfair Display', sans-serif;


