<div class="grid__top ">

    <div class="top__logo--container">
        <img class="top__logo" src="@@webRoot/assets/buonGiorno.png" alt="buonGiorno">
    </div>

    <div class="top__image--container">
        <img class="top__image" src="@@webRoot/assets/egg.jpg" alt="egg">
    </div>
    
    <div class="text__container">
        <h1 class="text__container__header">@@firstLine <br> @@secondLine</h1>
        <img class="text__container__signature" src="@@webRoot/assets/signature.png" alt="signature">
        <button class="text__container__button"> view courses</button>
    </div>

    <div class="left__image--container">
        <img class="left__image" src="@@webRoot/assets/spaghetti.jpg" alt="spaghetti">
    </div>

    <div class="bottom__image--container">
        <img class="bottom__image" src="@@webRoot/assets/shrimp.jpg" alt="shrimp">
    </div>

    <div class="pepper__container">
        <img class="pepper--image" src="@@webRoot/assets/pepper.svg" alt="pepper">
    </div>

<!-- White background elements for the Grid -->
    <div class="background--white hidden-s"></div>
    <div class="background2--white hidden-s"></div>
    <div class="background3--white hidden-s"></div>
    <div class="background4--white hidden-s"></div>
    <div class="background5--white hidden-s"></div>
    <div class="background6--white hidden-s"></div>
    <div class="background7--white hidden-s"></div>

</div>
