<div class="grid__top ">
    <div class="image__buonGiorno"></div>
    <div class="image__egg"></div>
    <div class="text__column">
        <h1 class="text__column__header">Short italian cooking lessons</h1>
        <img class="text__column__signature" src="assets/signature.png" alt="">
        <button class="text__column__button"> view courses</button>
    </div>

    
    <img class="image__spaghetti" src="../../assets/spaghetti.jpg" alt="spaghetti">
    <img class="image__shrimp" src="../../assets/shrimp.jpg" alt="shrimp">
    <div class="pepper__container">
        <img class="image__pepper" src="../../assets/pepper.svg" alt="pepper">
    </div>
    <div class="white_background  hidden-s"></div>
    <div class="white_background2 hidden-s"></div>
    <div class="white_background3 hidden-s"></div>
    <div class="white_background4 hidden-s"></div>
    <div class="white_background5 hidden-s"></div>
    <div class="white_background6 hidden-s"></div>
    <div class="white_background7 hidden-s"></div>
</div>
